body {
			height:100%;
			margin:0;
			width:100%;
			font-family:arial,helvetica,sans-serif;
			background-color:#dfd;
		}
		#container {
			width:80%;
			margin:0 auto 0 0;
			/*background-color:#fefefe;*/
			height:auto;
			position:relative;
		}
		
		#logo {
		background-color: #eee;
		width:100%;
		margin:0;
		padding:0;
		}
		
		#logo img {
		
		width:100%; 
		margin:0 auto;
		padding:0;
		position:relative;
		top:-15px;
		}
		
		@font-face {
			font-family:mainFont;
			src: url(fnts/Gauge-Regular.woff);
		}
		
		@font-face {
			font-family:bodyFont;
			src: url(fnts/Warenhaus-Standard.otf);
		}
		
		nav {
		
			height:30px;
			width:100%;
			background-color:#ddd;
			margin:0;
			position:relative;
		}
		
		a {
		text-decoration:none;
		color:#33f;
		font-family: "Arial Black", Gadget, sans-serif;
		}
		
		a:hover {
			text-decoration:underline;
			color:green;
		}
		
		.navigation {
		
		float:left;
		padding:2px 10px 2px 15px;
		margin-left:2px;
		border-top:2pt solid #efefef;
		border-right:2pt solid #efefef;
		border-bottom:2pt solid #efefef;
		border-radius:0.4em;
		}
		
		h1 {
			margin:0;
			padding:0;
		}
		
		#writing {
			width:100%;
			margin:auto auto auto 0;
			position:absolute;
		}
		
		#social {
			width:20%;
			margin:0 auto;
			position:absolute;
			right:0;
			/*background-color:#ededed;*/
			float:left:
		}
		
		article {
			
			background-color:#ededed;
			margin:10px auto;
			position:relative;
			padding:2%;
			width:94%;
			border-radius:0.4em;
		}
		
		#twitter {
			margin:5% auto;
			padding:0;
			width:90%;
		}
		
		#moto {
		
		padding:3px 10px 2px 10px;
		float:right;
		font-family: bodyFont, "Arial Black", Gadget, sans-serif;
		font-size:20px; 
		font-weight:bold; 
		color:green;
		}
		
		#squirrel {
			width:100px;
			margin:5% auto;
			
		}
		
		#squirrel img {
			width:100%;
		}
		
		.clear {
			clear:both;
		}
		
		footer {
			width:100%;
			height:30px;
			background-color:green;
			text-align:right;
			font-family:arial;
			position:fixed;
			bottom:0;
		}
		
		#copy {
			padding:10px;
			margin:auto;
			color:white;
		}
	
		@media screen and (max-width: 900px) {
			
		#container {
			width:60%;
		}
		
		#social {
			width:40%;
		}
		
		}
		
		@media screen and (max-width: 650px) {
			#moto {
		font-size:1em;
			}
			
		.navigation {
			margin:0 auto;
		}
		}
		
		@media screen and (max-width: 570px) {
			#moto {
		font-size:0.732em;
		float:left;
			}
			
		.navigation {
			margin:0 auto;
		}
		
		}
		
		@media screen and (max-width: 500px) {
		
		#container {
			width:100%;
			/*height:800px;*/
			position:relative;
		}
		
		#writing {
			position:relative;
		}
		
		nav {
			height:60px;
		}
		
		#social {
			width:100%;
			margin-top:5px;
			position:relative;
		}		
		
		#moto {
			font-size:20px;
		}
		}